/* Add here all your css styles (customizations) */
.appicon {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: 1px solid #ddd;
}
.appicon_s {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.appicon_ss {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.myapps td {
    vertical-align:middle !important;
}
.app_view_history td {
    vertical-align:middle !important;
}
.app_view_history tr {
    cursor:pointer;
}
.clickable {
    cursor:pointer;
}
.re_min{min-width:120px; text-align:left;}

/* app edit */
#screenshotTableContainer {
    height:190px;
}
.app_edit_no_screenshot {
    height:190px;
    text-align:center;
    line-height:190px;
}
.app_edit_screenshot_img {
    cursor:pointer;
    max-width:100px;
    max-height:160px;
}
.app_edit_screenshot_img.pad {
    margin:0 0 0 22px;
}
.app_edit_screenshot_container {
    background-color:#fff;
    border:1px solid #bbb;
    padding:10px;
    display:block;
}
.app_edit_screenshot_container table {
    width:100%;
}
.app_edit_screenshot_upload_button {
    margin-top:10px;
}
.app_edit_screenshot_delete_button {
    margin-top:10px;
    display:inline-block;
}

/* pager */
.pager {
}
.pager a, .pager strong {
    display:inline-block;
    padding:3px 10px;
    margin:0 0px;
    border:1px solid #ccc;
    background-color:#fff;
    text-decoration:none;
}
.pager a:hover {
    background-color:#f5f5f5;
}


.doc-nav.affix {
    top: 20px;
}
.doc-nav.affix-bottom {
    position: relative;
}

@media (min-width: 1px) and (max-width:992px) {
    .doc-nav  {
        position:static;
    }
}
@media (min-width: 992px) {
    .doc-nav  {
        width:213px;
    }
}
@media (min-width: 1200px) {
    .doc-nav {
        width:260px;
    }
}

.doc-nav .docs-progress-bar {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
}

/* about/partner */

.partner ul {
   list-style-type: none;
   padding:0;
   margin:0;
}

.partner ul li {
    float:left;
    border:1px solid #eee;
    width:200px;
    height:80px;
    line-height:80px;
    text-align:center;
    overflow:hidden;
    font-size:14px;
    margin:2px;
}

.partner ul li img {
    max-width:140px;
    max-height:45px;
}
.ios-logo{
    padding-top:50px;
    padding-bottom:35px;
}
.ios-logo img{
    display: block;
    width:105px;
    margin:0 auto;
}
.ios-title p{
    font-family: PingFangSC-Medium,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 30px;
}
.ios-down{
   /*background: url("../img/bitpiebtn.png") no-repeat;*/
   /*display: block;*/
   /*width:185px;*/
   /*height:63px;*/
   /*background-size: contain;*/
   /*margin:0 auto;*/
    width:169px;
    height:47px;
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(49deg, #2EA3C9 0%, #3A33CF 36%, #320685 100%);
    box-shadow: 2px 2px 8px 0 rgba(52,20,157,0.50);
    border-radius: 23.5px;
}
.ios-down a {
    font-family: PingFangSC-Medium;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    display: block;
    line-height: 47px;
    width:100%;
    margin:0 auto;
    text-decoration: none;
}
.ios-info{
    padding-top: 40px;
    width: 257px;
    margin:0 auto;
}
.ios-info p{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #D0021B;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    width:100%;
}
.ios-account{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 0 rgba(52,16,150,0.10);
    border-radius: 10px;
    width:300px;
    height:182px;
    text-align: center;
    margin:0 auto;
    padding:27px 0;
}
.ios-account p{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
}
.ios-describe p{
    font-family: PingFangSC-Regular;
    padding: 20px 0;
    font-size: 13px;
    color: #333333;
    letter-spacing: 0;
    display: block;
    text-align: center;
    margin:0 auto;
}
.ios-describe p span{
    color: #D0021B;
}
.ios-describe h2{
    font-family: PingFangSC-Semibold;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
    display: block;
    text-align: center;
    padding: 35px 0 0 0;
}
.ios-img{
    display: block;
    width: 320px;
    margin:0 auto;
}

@media (max-width: 330px) {
    .ios-container{
        width:100%;
        padding-right:0px !important;
        padding-left: 0px !important;
    }
}