.content-bch{width:500px;margin:0 auto;text-align: center;}
.content-bch-p{padding-top: 10px;text-align: left;font-weight:340;}
.content-bch-t{padding-top: 10px;text-align: center;}
.box_1{
padding: 0px 20px;	
border-width: 0px;
height: auto;
background: inherit;
    background-color: inherit;
background-color: rgba(255, 255, 255, 1);
box-sizing: border-box;
border-width: 1px;
border-style: solid;
border-color: rgba(121, 121, 121, 1);
border-radius: 8px;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
text-align: center;
margin:0 auto 10px auto;
}
.div_h5{
margin-top:15px;
margin-left:-20px;
border-width: 0px;
text-align: left;
width: 300px;
height: 33px;
background: inherit;
    background-color: inherit;
background-color: rgba(255, 255, 255, 1);
box-sizing: border-box;
border-width: 1px;
border-style: solid;
border-color: rgba(121, 121, 121, 1);
border-radius: 0px;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;


}
.div_h5 span{
padding-left: 20px;	
line-height: 33px;
font-weight: 700;	
font-size: 13px;
color: #333333;
}
.t1{
	margin-top:30px;
	
}
.safe_info_p{
	padding-bottom: 5px;
}
.safe_info_p strong{font-weight: 400}
.content-bch-p strong,.list-span-mar strong{font-weight: 400}
.div_safe{
	width:45px;height:45px;border-radius: 50%;border:1px solid #333;line-height: 45px;text-align: center;float:left;
}
.safe_info{
	text-align: left;
	margin-left: 54px;
}
.safe_info p{margin:0;font-weight: 340}
.safe_info p span{
font-size: 12px;
color: #666666;
}
.list-p{line-height: 45px}
.list-span-header{
background:url(/img/first.png) no-repeat;background-size:100% 100% ;height:45px;width:45px;display:inline-block;float:left;margin:0 50px;
}
.three{background:url(/img/three.png) no-repeat;background-size:100% 100% ;}
.second{background:url(/img/second.png) no-repeat;background-size:100% 100% ;}
.four{background:url(/img/four.png) no-repeat;background-size:100% 100% ;}
.list-span-in{
float:left;
line-height:45px;
width:90px;
text-align: left;
}
.list-span-mar{
	/*margin-left:20px;*/
}
.list-span-r{
float:right
}
.content-bch-info{
font-size:11px;
text-align:center;
}
.h5-bch-span{
	float:left;padding-top:50px;margin-left:-43px;
}
body{
	line-height: 1.6
}
.end{
	margin-bottom: 30px;
}
.bch-download{
	padding-top: 0px 
}
.list-span-mar strong{
	padding: 0 5px;
}
.content-p p{
	padding-top:10px;
}
.content-bch-p strong{
	font-weight: 700
}

@media(min-width:320px) and (max-width:767px){


.list-span-mar strong{
	padding: 0 2px;
}

.content-bch{width:100%;}
.div_h5{
	width:100%
}
.box_1{
	height:auto;
}
.list-span-header{
	margin:0;
}
.list-span-mar{
	margin:0;
}
.content-p{
	width:100% !important;
}
.content-bch-info{
	font-size:11px;text-align:left;
}
.bch_ads{
	width:48px;
	height:48px;
}
.h5-bch-span{
	float:left;padding-top:25px;margin-left:-23px;font-size: 14px !important
}
.content-bch-h{
	text-align: left
}
.bch-post tr>td{
	padding: 4px;
	font-size: 10px;
}
.bch-post tr>th{
	padding: 4px;
	font-weight: 300;
	font-size: 12px;
}
.div-post-content{
	width:100% !important;
	overflow: scroll;
}
.bch-post{
	width:100% !important;}


}