.selectbtn{
  float:right;
  margin-left:20px;
}
.select-btn{
  height:45px;
  font-size: 18px
}
/*ã€€logo style */
.logoheight{
	height:150%;
	margin-top:-25%;
}
/*about*/
#about{
  text-align: left !important;
}
.center{
  text-align: center;
  margin: 0 auto;
}
.registered{
  text-decoration: underline;
  text-decoration-color:#2a6496;
  /*border-bottom: 1px solid #2a6496;*/
  /*padding-bottom:3px;*/
}
.registered:visited{
  border:none;
}
.modal-body{height: 423px}
/* super slider style */

/*.slideBox{ /!*width:450px; height:230px;*!/ overflow:hidden; position:relative; }*/
/*.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }*/
/*.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; list-style:none }*/
/*.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }*/
/*.slideBox .hd ul li.on{ background:#f00; color:#fff; }*/
/*.slideBox .bd{ position:relative; height:100%; z-index:0;   }*/
/*.slideBox .bd ul{ overflow:hidden; zoom:1; float:left; list-style:none }*/
/*.slideBox .bd li{ zoom:1; vertical-align:middle; }*/
/*.slideBox .bd img{ /!*width:450px; height:230px; *!/display:block;  }*/
@media(min-width:531px) and (max-width:767px){
  ul.intro-social-buttons > li{
    display: inline-block  !important;

  }
  .intro-divider{width:80% !important;}

  .modal-body{height: 375px;}
  .navbar-toggle{margin-right:-20px !important;}
  .intro-message{
    padding-top: 52%;
  }




}
@media (min-width:376px) and (max-width:530px) {
  #title-hide{padding:15px 0px 15px 5px !important; font-size: 14px !important;}
  .navbar-brand{padding:15px 15px!important;}
  .tro-social-buttons > li  {display: none !important;}
  .intro-divider{width:100% !important;}

  .modal-body{height: 265px}
  .navbar-toggle{margin-right:-20px !important;}
  ul.intro-social-buttons > li{
    display: inline-block  !important;

  }
  .intro-message{
    padding-top: 86%;
  }
  .intro-message>h3{
    font-size: 22px;
  }


}
@media(min-width:360px) and (max-width:375px){
  .navbar-brand{padding:15px 6px!important; font-size: 13px !important;}

  .modal-body{height: 254px}
  .navbar-toggle{margin-right:-20px !important;}
  .intro-message{
    padding-top: 90%;
  }
  .intro-message>h3{
    font-size: 16px;
  }
  .intro-divider{width:80% !important;}
}
@media(min-width:321px) and (max-width:359px){
  .navbar-brand{padding:15px 0px!important;font-size: 13px !important;}
  ul.intro-social-buttons > li{
    display: inline-block  !important;
  }
  .modal-body{height: 226px}
  .navbar-toggle{margin-right:-20px !important;}
  #title-hide{padding: 15px 0 15px 0px !important;}
}
@media(min-width:320px) and (max-width:359px){
  .navbar-brand{font-size: 12px !important;}
  .modal-body{height: 226px}
  .intro-message{
    padding-top: 80%;
  }
  .intro-message>h3{
    font-size: 16px;
  }
  .intro-divider{width:95% !important;}

}
@media(max-width:320px){
  .navbar-brand{padding:15px 0 15px 5px  !important;}
  #title-hide{padding: 15px 0 15px 5px !important;}
  .navbar-toggle{margin-right:-20px !important;}
  /*.navbar-brand{padding:15px 0px!important;}*/
  .navbar-brand{font-size: 11px !important;}

}
@media(max-width:319px){
  #title-hide{display:none}
}
.about-content{
  padding-top:30px;
}
.about-content p{
  padding-top: 10px;
}