.selectbtn{
  float:left;
  margin-right:10px;
}
.select-btn{
  height:45px;
  font-size: 18px
}
/*　logo style */
.logoheight{
	height:150%;
	margin-top:-25%;
}
/*about*/
#about{
  text-align: left !important;
}
.center{
  text-align: center;
  margin: 0 auto;
}
/* super slider style */

/*.slideBox{ /!*width:450px; height:230px;*!/ overflow:hidden; position:relative; }*/
/*.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }*/
/*.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; list-style:none }*/
/*.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }*/
/*.slideBox .hd ul li.on{ background:#f00; color:#fff; }*/
/*.slideBox .bd{ position:relative; height:100%; z-index:0;   }*/
/*.slideBox .bd ul{ overflow:hidden; zoom:1; float:left; list-style:none }*/
/*.slideBox .bd li{ zoom:1; vertical-align:middle; }*/
/*.slideBox .bd img{ /!*width:450px; height:230px; *!/display:block;  }*/
@media(min-width:531px) and (max-width:767px){
  ul.intro-social-buttons > li{
    display: inline-block  !important;

  }
  .intro-divider{width:60% !important;}

}
@media (min-width:376px) and (max-width:530px) {
  #title-hide{padding:15px 0px 15px 20px !important;}
  .navbar-brand{padding:15px 15px!important;}
  .tro-social-buttons > li  {display: none !important;}
  .list-inline-down{padding-left: 20% !important;}
  .intro-divider{width:80% !important;}

}
@media(min-width:360px) and (max-width:375px){
  .list-inline-down{padding-left:15% !important;}
  .navbar-brand{padding:15px 8px!important;}
}
@media(min-width:322px) and (max-width:359px){
  .navbar-brand{padding:15px 0px!important;}
  ul.intro-social-buttons > li{
    display: inline-block  !important;
  }
}
@media(min-width:320px) and (max-width:365px){
  .navbar-brand{font-size: 17px !important;}
}
@media(max-width:320px){
  .list-inline-down{padding-left:10% !important;}
  .navbar-brand{padding:15px 0 15px 5px  !important;}
  #title-hide{padding: 15px 0 !important;}
  .navbar-toggle{margin-right:5px !important;}
  /*.navbar-brand{padding:15px 0px!important;}*/
}
@media(max-width:319px){
  #title-hide{display:none}
}
