.selectbtn{
  float:right;
  margin-left:20px;
}
.intro-messages .selectbtn{
    float:left;
}
.select-btn{
  height:45px;
  font-size: 18px
}
/*ã€€logo style */
.logoheight{
	height:150%;
	margin-top:-25%;
}
/*about*/
#about,#abouts{
  text-align: left !important;
}
.center{
  text-align: center;
  margin: 0 auto;
}
.registered{
  text-decoration: underline;
  text-decoration-color:#2a6496;
  /*border-bottom: 1px solid #2a6496;*/
  /*padding-bottom:3px;*/
}
.registered:visited{
  border:none;
}
.modal-body{height: 423px}
.annou-list{height:100%;padding-top: 80px;min-height: 600px;height:auto}
.clear{clear:both;height:0px;overflow:hidden;}

/* super slider style */

/*.slideBox{ /!*width:450px; height:230px;*!/ overflow:hidden; position:relative; }*/
/*.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }*/
/*.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; list-style:none }*/
/*.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }*/
/*.slideBox .hd ul li.on{ background:#f00; color:#fff; }*/
/*.slideBox .bd{ position:relative; height:100%; z-index:0;   }*/
/*.slideBox .bd ul{ overflow:hidden; zoom:1; float:left; list-style:none }*/
/*.slideBox .bd li{ zoom:1; vertical-align:middle; }*/
/*.slideBox .bd img{ /!*width:450px; height:230px; *!/display:block;  }*/

/*ad*/
 .catalogue h5{font-size: 22px;font-weight:400;color:#333}
    .catalogue-item{
      text-align: center;
    }
    .text-center{
        padding-top: 90px;
    }
    .content-p{
        font-weight: 200;
        padding: 30px 0 50px 0;width:60%;margin:0 auto;text-align: left;
      min-height:300px;
    }
    .catalogue>p{
            font-family: "","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: bolder;
            font-size: 15px;
            padding: 5px 0;
            line-height: 1.9;
            text-align:justify;


    }

    .time{

     color: #aaa;
    float:left;
    display: inline-block;
    font-weight: 400;
}
.aclick h5{font-size: 22px;font-weight:400;color:#333}
.link_app,.aclick:hover{
    text-decoration: none !important;
}
.link_app{
    cursor:pointer;
}
.aclick h5:hover{
    color:#F46100;
    text-decoration: none !important;
}


 #page p{
     margin:13px 0  !important;
 }
    .content-list{
        padding-top: 5px ;
        text-align: left;font-size:15px;font-weight:300 !important;
    }
.bch_ads{
  width:96px;
  height:96px;
}
.join-content h5{
    padding:8px 0;
}
.join-content{
    padding:0 5% 5% 5%;
}
.join-title{
    /*text-align: center;*/
    display: block;
    margin: 0 auto;
    padding-bottom:20px ;
}


.jobs{
    padding-bottom: 15px;
}
.join-content p,.join-content ul,.join-footer{
    font-weight: 300;
}
.join-content h3{padding-bottom: 40px}
@media(min-width:320px) and (max-width:767px) {

    .aclick h5 {
        font-size: 15px;
        text-align: left
    }

    .intro-messages {
        width: 100%;
        padding-top: 25% !important;
    }
    .intro-messages .select-btn{
        height:34px;
        font-size: 14px;
    }
    .intro-messages .selectbtn{
        margin-left: 4px;
    }

    .intro-messages  .btn{
        padding: 6px !important;
    }
}

    @media (min-width: 531px) and (max-width: 767px) {
        ul.intro-social-buttons > li {
            display: inline-block !important;

        }

        .intro-divider {
            width: 80% !important;
        }

        .modal-body {
            height: 375px;
        }

        .navbar-toggle {
            margin-right: -20px !important;
        }

        .intro-message, .intro-messages {
            padding-top: 52%;
        }

        .content-p {
            width: 81% !important;
        }

    }
    @media (min-width: 376px) and (max-width: 530px) {
        #title-hide {
            padding: 15px 0px 15px 5px !important;
            font-size: 14px !important;
        }

        .navbar-brand {
            padding: 15px 15px !important;
        }

        .tro-social-buttons > li {
            display: none !important;
        }

        .intro-divider {
            width: 100% !important;
        }

        .modal-body {
            height: 265px
        }

        .navbar-toggle {
            margin-right: -20px !important;
        }

        ul.intro-social-buttons > li {
            display: inline-block !important;

        }

        .intro-message, .intro-messages {
            padding-top: 86%;
        }

        .intro-message, .intro-messages > h3 {
            font-size: 22px;
        }

        .content-p {
            width: 81% !important;
        }

    }
    @media (min-width: 360px) and (max-width: 375px) {
        .navbar-brand {
            padding: 15px 6px !important;
            font-size: 13px !important;
        }

        .modal-body {
            height: 254px
        }

        .navbar-toggle {
            margin-right: -20px !important;
        }

        .intro-message, .intro-messages {
            padding-top: 90%;
        }

        .intro-message > h3, .intro-messages > h3 {
            font-size: 16px;
        }

        .intro-divider {
            width: 80% !important;
        }

        .content-p {
            width: 81% !important;
        }
        .intro-messages .selectbtn{
            margin-left: 20px;
        }
    }
    @media (min-width: 331px) and (max-width: 359px) {
        .navbar-brand {
            padding: 15px 0px !important;
            font-size: 13px !important;
        }

        ul.intro-social-buttons > li {
            display: inline-block !important;
        }

        .modal-body {
            height: 226px
        }

        .navbar-toggle {
            margin-right: -20px !important;
        }

        #title-hide {
            padding: 15px 0 15px 0px !important;
        }

        .content-p {
            width: 81% !important;
        }
         .intro-messages .selectbtn{
            margin-left: 10px;
        }
    }
    @media (min-width: 321px) and (max-width: 330px) {
        .navbar-brand {
            font-size: 12px !important;
            padding: 15px 5px
        }

        #title-hide {
            padding: 15px 0 15px 0px !important;
        }

        .modal-body {
            height: 226px
        }

        .intro-message, .intro-messages {
            padding-top: 80% !important;
        }

        .intro-message > h3, .intro-messages > h3 {
            font-size: 16px;
        }

        .intro-divider {
            width: 95% !important;
        }

        .navbar-toggle {
            margin-right: -20px !important;
        }

        .content-p {
            width: 81% !important;
        }

    }
    @media (max-width: 320px) {
        .navbar-brand {
            padding: 15px 0 15px 5px !important;
        }

        #title-hide {
            padding: 15px 0 15px 5px !important;
        }

        .navbar-toggle {
            margin-right: -20px !important;
        }

        /*.navbar-brand{padding:15px 0px!important;}*/
        .navbar-brand {
            font-size: 11px !important;
        }

        .content-p {
            width: 81% !important;
        }

    }
    @media (max-width: 319px) {
        #title-hide {
            display: none
        }
    }
    .about-content {
        padding-top: 30px;
    }

    .about-content p {
        padding-top: 10px;
    }
