    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2 lang="en">About</h2>
              <br/>
                <p ><span lang="en">Bitpie is developed by </span><a href="https://bither.net/" lang="en">Bither</a> <span lang="en">team. With bitpie, you can have a secured bitcoin wallet as simple as possible, and you can also buy/sell bitcoins in an easy way.</span> </p>

                <p lang="en">Bitpie will also support other blockchain assets in the future, so it will be the wallet for everything, and you should try it now!</p>
                <br/>
              </div>
        </div>
    </section>
