    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About bitpie</h2>
              <br/>
                <p>bitpie is Bither team Following Bither Wallet , another milestone masterpiece , the first circle is the true sense of the customer's own trading Bitcoin tools. Unlike trading platform , pre-existing currency , transaction mode , to allow customers to seize the initiative , to close hot cold hair, and safe , give you an extraordinary user experience.<a href="http://startbootstrap.com/template-overviews/landing-page/"></a></p>
                <p>The founder of Bither team --- <a href="https://github.com/swcool">Wen Hao</a></p>
                <p><a href="http://join.deathtothestockphoto.com//"></a></p>
                <p></p>
                <br/>
              </div>
        </div>
    </section>
