<div class="row-fluid breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">{{site.downsoftname}}</h1>
        <ul class="pull-right breadcrumb">
            <li>版本 {{site.iosdownsoftversion}}</li>
            <li>{{site.iosdownsoftdate}}</li>
        </ul>
    </div>
</div>

<div class="container content">
    <div id="" class="view row">
        <div class="span12 lessonimg" style="text-align:center;">
            <h5>微信请点击右上角(三点),选择用Safari浏览器打开</h5>
            <span>（本版本仅限于公司内部人员使用)</span>
            <img src="{{site.winxin}}" id="downloading"/>
            <span>点击下方(点击安装)按钮,系统将自动安装</span>
        </div>

    </div>

    <hr class="devider devider-dotted">

    <div id="" class="view row">
        <div class="span12" style="text-align:center;">
            <a href="javascript:void(0);" onclick="javascript:install(this);" data="1"><img src="{{site.downlogo}}" class="appicon" /></a>
            <div>
            </div>
        </div>
    </div>

    <div id="" class="view row" style="margin-top:30px;">
        <div class="span12 margin-bottom-20" style="text-align:center;">
            <!--<span class="label label-info label-span" >国内</span>-->
            <a href="javascript:void(0);" onclick="javascript:install();" class="btn-u btn-u-lg" data="1"><i class="fa fa-download"></i>点击安装</a>

        </div>

        <!--<div class="span12 margin-bottom-20" style="text-align:center;">-->
          <!--&lt;!&ndash;  <span class="label label-info label-span" >国外</span>&ndash;&gt;-->
            <!--<a href="javascript:void(0);" onclick="javascript:installs();" class="btn-u btn-u-lg" data="2" ><i class="fa fa-download"></i>点击安装(国外)</a>-->

        <!--</div>-->

        <div class="span12" style="text-align:center;">
            <span class="label label-info">适用于iOS设备</span>
            <span class="label label-danger">企业版</span>
        </div>
    </div>

    <hr class="devider devider-dotted">
    <div id="" class="view row margin-bottom-30">
        <div class="span12" style="text-align:center;">
            或者用手机扫描下面的二维码安装 <br />
            <br />
            <img src="{{site.downqr}}" />
        </div>
    </div>
    <hr class="devider devider-dotted">
    <div id="down" class="view row" style="margin-top:30px;">
        <h3>{{site.lesson}}</h3>
        <div class="lessonimg">
            <p>{{site.downmobilefirsttitle}}</p>
            <img class="limg" src="{{site.downmobilefirst}}"/>
        </div>
        <div class="lessonimg">
            <p>{{site.downmobilesecondtitle}}</p>
            <img class="limg" src="{{site.downmobilesecond}}"/>
        </div>
        <div class="lessonimg">
            <p>{{site.downmobilethreetitle}}</p>
            <img class="limg" src="{{site.downmobilethree}}"/>
        </div>

    </div>
    <div class="lesson view row" style="margin-top:30px">
        <h3>iOS 10 不提示(是否允许应用访问数据)，导致应用无法使用的解决方案</h3>
        <div class="lessonimg">
            <p>1.进入设置-蜂窝移动网络-使用无线局域网与蜂窝移动的应用，随便找款App(例：这里选择的是比太)</p>
            <img class="limg" src="{{site.step1}}">
            <p>2.更改一下设置即可(任意更改)。</p>
            <img class="limg" src="{{site.step2}}">
            <p>3.然后进入bitpie App就会提示是否允许使用数据。选择是就可以了。</p>
            <img class="limg" src="{{site.step3}}">
        </div>
    </div>
</div>