<div class="container ios-container">
    <div class="ios-logo">
        <img src="/img/bitpieios.png">
    </div>
    <div class="ios-title">
        <p>下载苹果商店版本</p>
    </div>
    <div class="ios-down">
        <a class="ios-button" href="https://itunes.apple.com/us/app/bitpie-bitcoin-wallet/id1168568820">点击安装</a>
    </div>
    <div class="ios-info">
        <p>* 若无法安装或任何原因需要卸载原版本，请先备份好助记词，再重新安装新版本。</p>
    </div>
    <div class="ios-account">
        <p>海外ID 1：<span>c3s477b@icloud.com</span></p>
        <p>密码：<span>Ee112211</span></p>
        <p>海外ID 2：<span>dzl2mcx@icloud.com</span></p>
        <p>密码：<span>Ee112211</span></p>
        <p>该账户仅供测试使用，建议用户自行申请海外苹果ID。</p>
    </div>
    <div class="ios-describe">
        <h2>苹果手机使用 海外 ID 下载比特派教程</h2>
        <p>1、打开 <span>App Store</span>,点击右上角<span>个人中心</span></p>
        <img  class="ios-img" src="../img/bitpieios1.jpg">
        <p>2、点击个人中心下方<span>退出登录</span></p>
        <img  class="ios-img" src="../img/bitpieios2.jpg">
        <p>3、登录 <span>海外 ID</span>，例：<br/>
         <strong>Apple ID: c3s477b@icloud.com</strong><br/>
         <strong>密码：Ee112211</strong>
        </p>
        <img  class="ios-img" src="../img/bitpieios3.jpg">
        <p>4、搜索<span>"bitpie"</span>并下载</p>
        <img  class="ios-img" src="../img/bitpieios4.jpg">


    </div>
</div>