<div class="row-fluid breadcrumbs margin-bottom-20">
    <div class="container">
        <div class="col-md-4 col-sm-4">
        <h1 class="pull-left" lang="en">{{site.iOSsoftname}}</h1>
            </div>
        <div class="col-md-4 col-sm-4">
        <p class=" url-p"><span lang="en">Please save this URL:</span><span class="url-content">bitpie.com/ios</span></p>
            </div>
        <div class="col-md-4 col-sm-4">
        <ul class="pull-right breadcrumb">
            <li></li>
            <li><span lang="en">Version:</span>{{site.iosdownsoftversion}}</li>
            <li>{{site.iosdownsoftdate}}</li>
        </ul>
            </div>
    </div>
</div>

<div class="container content">
    <div id="" class="view row">
        <div class="span12 lessonimg " id="weixinDisplay" style="text-align:center;display: none">
            <h5 lang="en">Please open this address in Safari.</h5>
             <span lang="en">(only for company internal personnel)</span>
            <img src="{{site.winxin}}" id="downloading"/>
            <span lang="en">Tap the button below('install'), the App will be installed automatically</span>
        </div>
        <div class="span12 lessonimg " id="browser" style="text-align:center;display: block">
            <p lang="en">Enterprise Version is unavailable Now</p>

        </div>

    </div>

    <hr class="devider devider-dotted">

    <div id="" class="view row">

        <!--<div class="span12" style="text-align:center;">-->
            <!--<a href="javascript:void(0);" onclick="javascript:install(this);" data="1"><img src="{{site.downlogo}}" class="appicon" /></a>-->
            <!--<div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="span12" style="margin-top:30px;text-align:center;">
            <span class="label label-info" lang="en">Test</span>
            <!--<span class="label label-danger">企业版</span>-->
        </div>

    </div>

    <div id="" class="view row" style="margin-top:30px;">
        <div class="span12 margin-bottom-20" style="text-align:center;">

            <a href="{{site.appstore}}"  class="btn-u btn-u-lg" data="1"><i class="fa fa-download"></i><span lang="en">App Store</span></a>

        </div>

        <!--<div class="span12 margin-bottom-20" style="text-align:center;">-->
          <!--&lt;!&ndash;  <span class="label label-info label-span" >国外</span>&ndash;&gt;-->
            <!--<a href="javascript:void(0);" onclick="javascript:installs();" class="btn-u btn-u-lg" data="2" ><i class="fa fa-download"></i>点击安装(国外)</a>-->

        <!--</div>-->

        <div class="span12" style="text-align:center;">
            <span class="label label-info" lang="en">for iOS device</span>
            <!--<span class="label label-danger">企业版</span>-->
        </div>
    </div>

    <hr class="devider devider-dotted">
    <div id="" class="view row margin-bottom-30">
        <div class="span12" style="text-align:center;">
            <span lang="en">or Scan QR Code as below</span><br />
            <br />
            <img src="{{site.downqr}}" />
        </div>
    </div>
    <hr class="devider devider-dotted">
    <div id="down" class="view row" style="margin-top:30px;">
        <h3 lang="en">Bitpie iOS Installation Tutorial</h3>
        <div class="lessonimg">
            <p lang="en">1.Open Bitpie for the first time, you’ll see this:</p>
            <img class="limg" src="/img/MobileIOSStep1.jpg" data-url="/img/MobileIOSStep1.png" data-jp="/img/MobileIOSStep1.jp.jpg"/>
        </div>
        <div class="lessonimg">
            <p lang="en">2.Settings-General-Device Management, trust the file below:</p>
            <img class="limg" src="/img/MobileIOSStep2.jpg" data-url="/img/MobileIOSStep2.png" data-jp="/img/MobileIOSStep2.jp.jpg"/>
        </div>
        <div class="lessonimg">
            <p lang="en">3.Trust the following certificate, then you can successfully launch Bitpie App.</p>
            <img class="limg" src="/img/MobileIOSStep3.jpg" data-url="/img/MobileIOSStep3.png" data-jp="/img/MobileIOSStep3.jp.jpg"/>
        </div>

    </div>
    <div class="lesson view row" style="margin-top:30px">
        <h3 lang="en">Solution for no prompt in iOS 10 (allowing App using WLAN & Cellular), App cannot be used:</h3>
        <div class="lessonimg">
            <p lang="en">1.Settings-WLAN-Apps Using WLAN & Cellular</p>
            <img class="limg" src="/img/step1.jpg" data-url="/img/step1.png" data-jp="/img/step1.jp.jpg">
            <p lang="en">2.Choose an App (any one is OK): hereby we choose Bither</p>
            <img class="limg" src="/img/step2.jpg" data-url="/img/step2.png"  data-jp="/img/step2.jp.jpg">
            <p lang="en">3.Enter Bitpie App, you will see the prompt. Press ok</p>
            <img class="limg" src="/img/step3.jpg" data-url="/img/step3.png"  data-jp="/img/step3.jp.jpg">
        </div>
    </div>
</div>