<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home" lang="en">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about" lang="en">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services" lang="en">Features</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://docs.bitpie.com" target="_blank" lang="en">Doc</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact" lang="en">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                <!--<span lang="en">{{ site.credits}}</span>-->
                <!--<a href="https://bither.net/" lang="en">Bither</a>-->
                <!--<span lang="en">{{ site.creditss}}</span>-->

            </div>
        </div>
    </div>
</footer>
