<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home" lang="en">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about" lang="en">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services" lang="en">Features</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://docs.bitpie.com" target="_blank" lang="en">Doc</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact" lang="en">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                <!--<span lang="en">{{ site.credits}}</span>-->
                <!--<a href="https://bither.net/" lang="en">Bither</a>-->


            </div>

        </div>
        <div class="col-md-12">
            <p class="copyright text-muted small center" ><a href="#myModal" role="button" class="registered" data-toggle="modal" data-target="#myModal" lang="en" >BITPIE LIMITED registered at Republic of Seychelles</a></p>

        </div>

        <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
        <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
            <!--Launch demo modal-->
        <!--</button>-->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" lang="en">Certificate</h4>
                    </div>
                    <div class="modal-body" style="background: url('/image/rof.jpg') no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;" >

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
