<script src="/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/js/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/landing-page.js"></script>
<!-- Plugin SuperSlide -->
<script src="/js/jquery.SuperSlide.2.1.1.js"></script>

<!-- my javascript -->
<script type="text/javascript" src="/js/common.js"></script>
<script src="/js/jquery-lang.js" type="text/javascript"></script>
<script src="/js/js.cookie.js" type="text/javascript"></script>
<script src="/js/dynamicLang.js" type="text/javascript"></script>
<script type="text/javascript">
    var lang = new Lang();
    lang.init({
        defaultLang: 'en',
        currentLang: 'en',
        cookie: {
            name: 'langCookie',
            expiry: 365,
            path: '/'
        },
        allowCookieOverride: true
    });
    $(function(){

        var url = window.location.href;
        var urllarr = url.split("/");
        if(urllarr.length > 5){
            window.lang.change(urllarr[4])
        }else{
            window.lang.change("zh")
        }

        $("#zh").on("click",function(){
            window.location.href = "http://bitpie.com/announcement/";
        })

        $("#en").on("click",function(){
            window.location.href = "http://bitpie.com/announcement/en/";

            window.lang.change("en");
        })
        $("#jp").on("click",function(){
            window.location.href = "http://bitpie.com/announcement/jp/";

            window.lang.change("jp");
        })
        $("#docs").attr("href","http://docs.bitpie.com/en/latest/")
        $("#blogs").attr("href","http://bitpie.com/blog/en/")
        $("#ads").attr("href","http://bitpie.com/announcement/en")


        $("#telegram").on("click",function(e){
            e.stopPropagation();
            var flag = $(this).attr("data");
            if(flag == "hide") {
                $(this).attr("data","show")
                $("#Contact").attr("data","show");
                $("#group_show").show();

            }else if(flag == "show") {
                $(this).attr("data","hide")
                $("#Contact").attr("data","hide");
                $("#group_show").hide();
            }
        });

        $("#telegram").mouseenter(function(){
            $("#group_show").show();
            $("#qq").on("click",function(e){
                $("#group_show").show();
            })
        });
//        $("#qq").mouseleave(function(){
//            $("#group_show").hide();
//        });


        $(function () {
            $(document).on('click', function (e) {
                $("#group_show").hide();
            });

        });
    })
</script>