<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand" href="{{site.url}}" title="{{site.title}}"><img class="logoheight" src="{{site.logo}}"/></a>
            <a class="navbar-brand page-scroll " id="title-hide" href="#home" lang="en">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
            	<li>
                    <a class="page-scroll" href="#about" lang="en">About</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services" lang="en">Features</a>
                </li>
                <li>
                    <a id="docs" class="page-scroll" href="http://docs.bitpie.com/en/latest/" target="_blank" lang="en">Doc</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.url}}/blog/" lang="en">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact" lang="en">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1 lang="en">{{ page.title }}</h1>
						<h3 lang="en">{{ page.subTitle }}</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons list-inline-down">

							<li id="mobile-center">
								<!-- <a href="{{}}" class="btn btn-default btn-lg"> <span class="">Download</span></a> -->
                                <div class="dropdown selectbtn">

                                  <button class="btn btn-default dropdown-toggle select-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" >
                                    <i class="fa fa-android fa-fw"></i>
                                     <span lang="en">Android</span>
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.url}}/android/" lang="en">Download</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.googleplay}}" lang="en">Google Play</a></li>
                                   
                                  </ul>
                                </div>

                               <!--  <a href="{{}}" class="btn btn-default btn-lg"><span class="">Download</span></a> -->
                                <div class="dropdown selectbtn">

                                  <button class="btn btn-default dropdown-toggle select-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    <i class="fa fa-apple fa-fw"></i> 
                                    <span lang="en">iOS</span>
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Download</a></li>-->
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{site.appstore}}" lang="en">App Store</a></li>
                                   
                                  </ul>
                                </div>
                                <div class="clearfix"></div>
							</li>

						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
