<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand" href="{{site.url}}" title="{{site.title}}"><img class="logoheight" src="{{site.logo}}"/></a>
            <a class="navbar-brand" id="title-hide" href="#home" lang="en">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-menu" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right mobile-menu">
                <li>
                    <a  href="{{site.url}}/about.html" lang="en">About Us</a>
                </li>
                <li>
                    <a class="page-scroll menu-control" href="{{site.url}}#services" lang="en">Features</a>
                </li>
                 <li >
                    <a  id="ads" href="{{site.url}}/announcement/en" target="_blank" lang="en">Announcement</a>
                </li>
                <li >
                    <a   href="{{site.url}}/jobs" target="_blank" lang="en">jobs</a>
                </li>
                <li>
                    <a id="docs"  href="http://docs.bitpie.com/en/latest/" target="_blank" lang="en">Doc</a>
                </li>
                <li>
                    <a id="blogs" class="menu-control"  href="{{site.url}}/blog" lang="en">Blog</a>
                </li>
                <li>
                    <a  href="{{site.url}}#Contact" lang="en">Contact</a>
                </li>
                <li>
                    <a class="registered menu-l"  href="javascript:void(0)" id="zh" style="display: inline-block;padding: 15px 5px 15px 15px" data-toggle="dropdown">
                        中文
                    </a>|
                    <a class="registered menu-l" href="javascript:void(0)" id="en" style="display: inline-block;padding: 15px 5px" data-toggle="dropdown">
                        EN
                    </a>
                </li>
            </ul>
            <!--<div class="nav navbar-nav dropdown menu-language  mobile-language">-->
            <!--<a class="" href="" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
            <!--语言-->
            <!--<span class="caret"></span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
            <!--<li><a href="javascript:void(0)" id="zh">简体中文</a></li>-->
            <!--<li><a href="javascript:void(0)" id="en">EN</a></li>-->

            <!--</ul>-->
            <!--</div>-->
            <div class="clearfix"></div>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>