<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include menu.html %}
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 about-content">
            <br/><br/>
            <h3 lang="en">About Us</h3>
            <p lang="en" >Originate from Bither team, Bitpie team is made up of blockchain professionals and business experts from IT/ Financial industries based around the world.</p>

            <p lang="en">With strong technical strength on blockchain and years of experience from operate bither wallet, Bitpie is devoted to be a service provider to bring global users with safe asset management and broad blockchain application access. With Bitpie, users can trade assets with others or use their asset in more coming scenarios meanwhile keep their asset 100% self-controllable.</p>
            <p><span lang="en">By emphasizing the importance of asset safety, we put great effort on security and receive a good reputation in this respect. Therefore our bitcoin wallet “Bither” is listed on</span>&nbsp;<a href="https://bitcoin.org/en/wallets/desktop/windows/bither/" target="_blank">bitcoin.org</a>&nbsp;<span lang="en">as recommended wallet.</span> </p>
            <p lang="en">The world is adapting to blockchain quickly, but explore the blockchain world is not easy. We are working hard to make Bitpie as your key to the new world.</p>
            <p lang="en">Bitpie's main office place is located in Sydney.</p>
            <address>
                <span lang="en">Address</span>:<br/>
                Suite 3604,<br/>
                201 Elizabeth St,<br/>
                Sydney NSW 2000<br/>
            </address>
        </div>
    </div>





</section>

<section id="abouts" class="container content-section text-center">
    <div class="row">

            <h3 class="join-title" >加入我们</h3>
        <div class="col-lg-6 join-content">

            <h5>职位：iOS 开发工程师</h5>
            <h5>职责：</h5>
            <ul>
                <li>参与 iOS 平台上区块链产品的设计和开发；</li>
                <li>根据产品需求完成架构和模块设计、编码、测试工作；</li>
                <li>能按照项目计划，按时提交高质量的代码，完成开发任务。</li>
            </ul>
            </p>
            <h5>基本要求：</h5>
            <ul>
                <li>3年以上 iOS 开发经验；</li>
                <li>精通 Swift / Objective-C ；</li>
                <li>遇到问题能快速查找相关资料，熟练使用 git 工具进行版本管理；</li>
                <li>工作认真、积极、有责任心；</li>
                <li>有较强的沟通能力及团队协作能力；</li>
                <li>App Store 上有作品、 github 上有开源项目的优先；</li>
                <li>有区块链开发经验,有相关成熟作品的优先。</li>

            </ul>
         </div>
        <div class="col-lg-6 join-content">


            <h5>职位：Android 开发工程师</h5>
            <h5>职责：</h5>
            <ul>
                <li>负责 Android 移动端产品的设计开发工作；</li>
                <li>根据产品需求完成架构和模块设计、编码、测试工作；</li>
                <li>能按照项目计划，按时提交高质量的代码，完成开发任务。</li>
            </ul>
            <h5>基本要求：</h5>
            <ul>
                <li>3年以上 Android 开发经验；</li>
                <li>精通 Java ；</li>
                <li>遇到问题能快速查找相关资料，熟练使用 git 工具进行版本管理；</li>
                <li>工作认真、积极、有责任心；</li>
                <li>有较强的沟通能力及团队协作能力；</li>
                <li>Google Play 上有作品、 github 上有开源项目的优先；</li>
                <li>有区块链开发经验,有相关成熟作品的优先。</li>

            </ul>

        </div>

        <div class="col-lg-6 join-content">


            <h5>职位：C++工程师</h5>
            <h5>职责：</h5>
            <p>我们寻找最富有创新精神的工程师设计和开发区块链技术相关的产品与架构，构建复杂的大规模应用，引导未来全球数字货币领域发展方向。
            </p>
            <h5>基本要求：</h5>
            <ul>
                <li>计算机科学或类似技术领域理学学士学位（或具备同等水平的实践经验）；</li>
                <li>具有一种或多种通用编程语言方面的软件开发经验；</li>
                <li>在以下至少两个领域具有工作经验：网络应用开发、Unix/Linux 环境、移动应用开发、分布式并行系统、网络、大型软件系统开发、安全防护软件开发；</li>
                <li>工作能力强。</li>
            </ul>

            <h5>优先条件：</h5>
            <ul>
                <li>具有良好的英文沟通（书面和口头）能力；</li>
                <li>拥有工程、计算机科学或其他相关技术领域的本科或硕士学位，或在这些领域接受过继续教育，或具有相关工作经验；</li>
                <li>具有一种或多种通用编程语言方面的经验，包括但不限于：Java, C/C++, Objective-C, Swift, Python, JavaScript；</li>
                <li>有大规模网络应用或交易系统开发经验；</li>
                <li>对探索未知领域充满热情，充满创新精神解决最棘手的技术难题。</li>

            </ul>

        </div>

        <div class="col-lg-6 join-content" style="margin-bottom: 80px">


            <h5>职位：Web 前端开发工程师</h5>
            <h5>职责：</h5>
            <ul>

            <li>负责 Web 产品的设计开发工作；</li>
            <li>负责安全产品的前端功能设计与实现，提升产品体验及策略调试效率；</li>
            <li>负责系统的可靠性和体验优化。</li>
            </ul>

            <h5>基本要求：</h5>
            <ul>
                <li>深入理解 W3C 标准，熟练 HTML5、CSS3 进行开发；</li>
                <li>有 ES5 开发经验并且了解 ES6 ；</li>
                <li>熟练使用调试抓包工具，能独立分析前端性能瓶颈进行性能调优；</li>
                <li>熟悉移动设备调试；</li>
                <li>至少使用过 Angular、React、Vue 其中一种，做过实际项目开发；</li>
                <li>了解模块化开发模式及流程；</li>
                <li>熟练使用Grunt、Webpack 等打包工具。</li>
                <li>遇到问题能快速查找相关资料，熟练使用 git 工具进行版本管理；</li>
                <li>工作认真、积极、有责任心；</li>
                <li>热爱前端技术、关注国内外各大技术论坛，有技术博客者；</li>
                <li>有区块链开发经验，有相关成熟作品的优先。</li>

            </ul>


        </div>

        <div class="col-lg-6 join-content">


            <h5>职位：Node.js 开发工程师</h5>
            <h5>职责：</h5>
            <ul>
                <li>负责 Web 前端和后端（Node.js）开发、需求实现；</li>
                <li>与设计、后台开发人员等保持良好沟通，能快速理解、消化各方需求，并落实为具体的开发工作。</li>

            </ul>
            </p>
            <h5>基本要求：</h5>
            <ul>
                <li>三年以上 Server 端开发经验，并拥有至少一年的 Node.js 开发经验；</li>
                <li>JavaScript 基本概念清晰，熟练掌握闭包、事件、回调、Promise 等；</li>
                <li>熟练掌握 Node.js 核心模块；</li>
                <li>具有 Java、Python、PHP 等其中一种后端语言的开发经验；</li>
                <li>熟悉 MySQL ，MongoDB，Redis 一种或多种； </li>
                <li>有一定的英文阅读能力，github 上有开源项目的优先；</li>
                <li>有区块链开发经验，有相关成熟作品的优先。</li>

            </ul>



        </div>

        <div class="col-lg-6 join-content">


            <h5>职位：UI 设计师/视觉设计师</h5>
            <h5>职责：</h5>
            <ul>
                <li>负责移动端（iOS、Android）产品的整体 UI 设计；</li>
                <li>为界面、图标、动画等提供高质量和创造性的设计方案；</li>
                <li>优化产品的用户体验。</li>
            </ul>
            </p>
            <h5>基本要求：</h5>
            <ul>
                <li>1年以上 UI 设计经验；</li>
                <li>具备移动端（iOS、Android）平台的产品设计能力；</li>
                <li>熟练使用 Photoshop、AI、Sketch等设计软件；</li>
                <li>有一定的手绘基础；</li>
                <li>有成功的设计作品及产品案例；</li>
                <li>工作认真、积极、有责任心；</li>
                <li>有较强的沟通能力及团队协作能力；</li>
                <li>艺术设计、工业设计、视觉传达等相关专业本科以上学历；</li>
                <li>简历请附上作品，谢谢！</li>


            </ul>



        </div>



        <div class="col-lg-6 join-content">

            <h5>职位：Python开发工程师</h5>
            <h5>职责：</h5>
            <ul>
                <li>负责基于 Python 的后端产品设计开发工作；</li>
                <li>负责系统开发，维护现有的项目和系统；</li>
                <li>编码习惯良好。</li>


            </ul>
            <h5>要求：</h5>
            <ul>
                <li>3年以上 Python 开发经验；</li>
                <li>精通 MySQL 等数据库，并熟悉 SQLAlchemy 开发；</li>
                <li>精通 Python Web 框架及 RESTFul API 的编写；</li>
                <li>遇到问题能快速查找相关资料，熟练使用 git 工具进行版本管理；</li>
                <li>工作认真、积极、有责任心；</li>
                <li>有较强的沟通能力及团队协作能力；</li>
                <li>github 上有开源项目的优先；</li>
                <li>有区块链开发经验,有相关成熟作品的优先。</li>

            </ul>
        </div>


        <div class="col-lg-6 join-content">

            <h5>职位：人事专员</h5>
            <h5>职责：</h5>
            <ul>
                <li>负责公司内部的人才招聘工作并进行招聘渠道的拓展、维护及网络招聘信息的发布和更新；</li>
                <li>负责新进员工试用期的跟踪考核，晋升提薪及转正合同的签订并形成相应档案资料；</li>
                <li>负责员工调查问卷的发放和收集，分析汇总调查结果，形成结论上报；</li>
                <li>负责统计汇总，上报员工考勤月报表，处理考勤异常情况；</li>
                <li>负责员工绩效考核资料的定期统计汇总，上报，并对绩效考核的方式方法提出意见和建议；</li>
                <li>负责完成公司人事工作任务，并提出改进意见；</li>
                <li>负责公司人事文件的呈转及发放；</li>
                <li>负责办理员工入职、离职、转正、调岗、调薪等相关工作。</li>

            </ul>
            <h5>基本要求：</h5>
            <ul>
                <li>本科以上学历，人力资源相关专业；</li>
                <li>熟练使用 Office 办公软件，具备基本的网络知识；</li>
                <li>优秀的语言和文字表达能力，良好的沟通、协调能力，较强的策划、计划、组织、执行能力，善于观察分析；</li>
                <li>工作效率高，服务意识强，耐心细致，有责任心，具有保密意识。</li>

            </ul>
        </div>

        <div class="col-lg-6 join-content">

            <h5>职位：运营专员</h5>
            <h5>职责：</h5>
            <ul>

                <li>各类用户社群及社交媒体维护、拓展，及时挖掘及解决用户问题，提出产品建议；</li>
                <li>针对产品及用户特点策划活动并组织及落实；</li>
                <li>通过互联网线上多渠道实现用户拉新，分析用户行为，对注册转化率等指标等进行数据监测，发现问题，形成解决方案；</li>
                <li>从用户生命周期角度运营用户，维护活跃用户、激活沉默用户，针对不同用户类型设计有效激励机制，提升活跃度和留存率。</li>



            </ul>
            <h5>基本要求：</h5>
            <ul>
                <li>性格外向，善于沟通，亲和力强，执行力强；</li>
                <li>擅长 APP 运营及活动策划；</li>
                <li>对互联网有热情，对创业团队有了解，热爱学习，敢于创新；</li>
                <li>善于独立工作，能承受较大压力；</li>
                <li>具有良好的外语（英、日、韩）读写能力者优先；</li>
                <li>对区块链及数字货币领域有了解者优先。</li>

            </ul>
        </div>

            <div class="col-lg-6 join-content">

            <h5>职位：技术支持</h5>
            <h5>职责：</h5>
            <ul>

                <li>熟悉公司产品和技术规范；</li>
                <li>负责帮助用户解决日常使用产品过程中遇到的问题；</li>
                <li>收集客户需求，及时将客户需求整理并反应至技术部门；</li>
                <li>协助部门其他同事完成相关工作。</li>


            </ul>
            <h5>基本要求：</h5>
            <ul>
                <li>大专以上学历，一年以上工作经验、具有发现解决问题的敏感力；</li>
                <li>具有良好的服务意识，较强的学习能力；</li>
                <li>具有良好的团队合作和人际沟通技巧。</li>

            </ul>
        </div>


<div class="col-lg-12 join-footer">

            <h5>地址：北京</h5>
            <h5>职位诱惑：</h5>
            <p>五险一金  两餐水果零食 健身卡 节日福利</p>

            <h5>申请方式：</h5>

            <p>通过邮箱投递，向  <a href="mailto:hr@bitpie.com">hr@bitpie.com</a> 发送一份简历。</p>

            <p>重要提示：电子邮件的主题字段必须为 "职位－姓名" ，注意不要忘记职位名称里的空格和连字符喔。</p>

        </div>
    </div>
</section>




{% include footer.html %}
{% include js.html %}
{% include tongji.html %}
</body>
</html>
