<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include menu.html %}
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 about-content">
            <br/><br/>
            <h3 lang="en">About Us</h3>
            <p lang="en" >Originate from Bither team, Bitpie team is made up of blockchain professionals and business experts from IT/ Financial industries based around the world.</p>

            <p lang="en">With strong technical strength on blockchain and years of experience from operate bither wallet, Bitpie is devoted to be a service provider to bring global users with safe asset management and broad blockchain application access. With Bitpie, users can trade assets with others or use their asset in more coming scenarios meanwhile keep their asset 100% self-controllable.</p>
            <p><span lang="en">By emphasizing the importance of asset safety, we put great effort on security and receive a good reputation in this respect. Therefore our bitcoin wallet “Bither” is listed on</span>&nbsp;<a href="https://bitcoin.org/en/wallets/desktop/windows/bither/" target="_blank">bitcoin.org</a>&nbsp;<span lang="en">as recommended wallet.</span> </p>
            <p lang="en">The world is adapting to blockchain quickly, but explore the blockchain world is not easy. We are working hard to make Bitpie as your key to the new world.</p>
            <p lang="en">Bitpie's main office place is located in Sydney.</p>
            <address>
                <span lang="en">Address</span>:<br/>
                Suite 3604,<br/>
                201 Elizabeth St,<br/>
                Sydney NSW 2000<br/>
            </address>
        </div>
    </div>
</section>




{% include footer.html %}
{% include js.html %}
</body>
</html>
