<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include down_header.html %}
<body>
<div class="row-fluid breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left" lang="en">{{site.androidsoftname}}</h1>
        <ul class="pull-right breadcrumb">
            <li><span lang="en">Version:</span> {{site.anddownsoftversion}}</li>
            <li>{{site.anddownsoftdate}}</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="view row">
        <div class="span12" style="text-align:center;">
            <a href="javascript:void(0);" onclick="javascript:install();"><img src="{{site.androidlogo}}" class="appicon" /></a>
            <div>
            </div>
        </div>
    </div>

    <div class="view row" style="margin-top:30px;">

        <div class="span12 margin-bottom-20" style="text-align:center;">
            <a href="javascript:void(0);" onclick="javascript:install();" class="btn-u btn-u-lg"><i class="fa fa-download"></i><span lang="en">Download</span></a>
        </div>
        <!--<div class="span12 margin-bottom-20" style="text-align:center;">-->
            <!--<a href="javascript:void(0);" onclick="javascript:installs();" class="btn-u btn-u-lg"><i class="fa fa-download"></i>Download&nbsp;(World)</a>-->
        <!--</div>-->

        <div class="span12" style="text-align:center;">
            <span class="label label-info" id="spanlabel"><a class="downloada" href="{{site.androidsha}}" target="_blank">SHA256SUMS</a></span>
        </div>
    </div>

    <hr class="devider devider-dotted">
    <div id="" class="view row margin-bottom-30">
        <div class="span12" style="text-align:center;">
            <span lang="en" >Use your cell phone  to install by scaning the qr code</span> <br />
            <br />
            <img src="{{site.androidqr}}" />
        </div>
    </div>
  </div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/jquery-lang.js" type="text/javascript"></script>
<script src="/js/js.cookie.js" type="text/javascript"></script>
<script src="/js/dynamicLang.js" type="text/javascript"></script>
<script type="text/javascript">
    var lang = new Lang();
    lang.init({
        defaultLang: 'en',
        currentLang: 'en',
        cookie: {
            name: 'langCookie',
            expiry: 365,
            path: '/'
        },
        allowCookieOverride: true
    });
    $(function(){
        if((navigator.language || navigator.browserLanguage).indexOf("zh") > -1){
            window.lang.change("zh")
        }else{
            window.lang.change("en")
        }
    })
</script>

<script>
    function isMobile() {
        return true
    }
    function installs() {
        if(!isMobile()){
            alert('请在手机上使用浏览器打开本页面，或者扫描下面的二维码，即可安装');
            return;
        }
        url = "{{site.apkdown}}";
        window.location.href = url;
    }
    function install() {
        if(!isMobile()){
            alert('请在手机上使用浏览器打开本页面，或者扫描下面的二维码，即可安装');
            return;
        }
        url = "{{site.apkdownq}}?t={{site.time | date: '%s'}}";
        window.location.href = url;
    }
</script>

</body>
</html>