<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include down_header.html %}
<body>

{% include down_content.html %}


<script>
    function isMobile() {
        return /iPhone|iPad|iPod/i.test(navigator.userAgent);
    }
    function installs() {

        if(!isMobile()){
            alert('请在手机上使用浏览器打开本页面，或者扫描下面的二维码，即可安装');
            return;
        }

        url = "itms-services://?action=download-manifest&url=itms-services://?action=download-manifest&url=https://github.com/bitpiedotcom/bitpiedotcom.github.com/raw/master/ios/bitpie_ios.plist";

        window.location.href = url;
    }
    function install() {

        if(!isMobile()){
            alert('请在手机上使用浏览器打开本页面，或者扫描下面的二维码，即可安装');
            return;
        }

        url = "itms-services://?action=download-manifest&url=itms-services://?action=download-manifest&url=https://dn-bither.qbox.me/bitpie_ios.plist";

        window.location.href = url;
    }
    window.onload = function() {
        function is_weixin() {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                return true;
            } else {
                return false;
            }
        }

        function run(){
            document.getElementById("weixinDisplay").style = "text-align:center;display:block";
            //document.getElementById("browser").style = "text-align:center;display:block";
        }
        //console.log(window.navigator.userAgent.toLowerCase());
        if (is_weixin()) {
            //console.log("11");
           run();
        }
        //var html = '<div class="span12 lessonimg"  style="text-align:center;"><p>本版本仅限于公司内部人员使用</p></div>';
//        if(window.navigator.userAgent.toLowerCase().indexOf('safari') > -1){
//            if(!is_weixin()) {
//                document.getElementById("weixinDisplay").innerHTML = "<p>本版本仅限于公司内部人员使用</p>";
//            }
//        }
    }
</script>

</body>
</html>


