<!DOCTYPE html>
<html>
{% include head.html %}


<body>
{% include menu.html %}
<!-- About Section -->

<section  class="container content-section text-center" >
<div class="catalogue" id="content">






    <h5>{{ page.title }}</h5>
    <div style="clear:both"></div>

    <div class="content-p">
    {{ page.content}}

    </div>
    </div>





</div>
</section>




{% include footer.html %}
{% include js.html %}
<script>
    $(function(){
        $("#en").click(function(){
            var html = "{{page.lang}}";
            if(html != "en"){
                 window.location.href = "http://bitpie.com/announcement/en"
            }
        })
    })
</script>
{% include tongji.html %}
</body>
</html>
