<!DOCTYPE html>
<html lang="en">
{% if page.ref == ad%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    Bitpie - Your key to the blockchain world
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/blogstyles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
</head>

<body>
<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">
        Bitpie - Your key to the blockchain world
      </h2>
    </a>
    <ul>
      <!--<li><a href="{{ '/about' | prepend: site.url }}">About</a></li>-->
      <li>

        {% if  page.lang == "en" %}
       <a href="{{site.baseurl}}/blog/en/" >Blog</a>
        {% else %}
        <a href="{{site.baseurl}}/blog/" >博客</a>
        {% endif %}

      </li>
      <!--<li>-->
      <!--<a class="btn btn-sm set_en"><img src="/img/United-States.png" height="16px" width="16px" ></a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a class="btn btn-sm set_cn"><img src="/img/China.png" height="16px" width="16px"></a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>

<main>

<div class="post">
  <div class="post-info">
    <span >
      {% if  page.lang == "en" %}
    Written by
    {% else %}
    作者
    {% endif %}</span>&nbsp;{{ page.author }}
    {% if page.date %}
    <br>
    <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{  page.title }}</h1>
  <div class="post-line"></div>
  <div>
{{post.url}}
  {{ content }}
  </div>
</div>
<div class="pagination">
  {% for post in site.posts %}
  {% if post.lang == page.lang %}
  {% if prev %}
  <a href="{{ post.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% assign prev = false %}
  {% if post.id == page.id %}
  {% assign prev = true %}
  {% endif %}
  {% endif %}
  {% endfor %}


  {% for post in site.posts reversed %}
  {% if post.lang == page.lang %}
  {% if next %}
  <a href="{{ post.url }}" class="right arrow">&#8594;</a>
  {% break %}
  {% endif %}
  {% assign next = false %}
  {% if post.id == page.id %}
  {% assign next = true %}
  {% endif %}
  {% endif %}
  {% endfor %}
  <a href="#" class="top">Top</a>
</div>
<!--<div class="pagination">-->
  <!--{% if page.next.url %}-->
  <!--<a href="{{ page.next.url | prepend: site.url }}" class="left arrow"></a>-->
  <!--{% endif %}-->
  <!--{% if page.previous.url %}-->
  <!--<a href="{{ page.previous.url | prepend: site.url }}" class="right arrow"></a>-->
  <!--{% endif %}-->

  <!--<a href="#" class="top">Top</a>-->
<!--</div>-->

</main>
{% else %}

{% include head.html %}
<style>
    .catalogue-item{
      text-align: center;
    }
    .text-center{
        padding-top: 90px;
    }
    .content-p{
        font-weight: 200;
    }
</style>

<body>
{% include menu.html %}
<!-- About Section -->

<section  class="container content-section text-center" >
<div class="catalogue">
    {% for post in site.posts %}
    {% if post.layout != "default" %}
    {% if post.ref == "ad" %}

    <a href="{{site.url}}/note/index.html#id={{post.post_id}}" class="catalogue-item " ><h5>{{ post.title }}</h5></a>
    <div style="clear:both"></div>

    <div class="content-p" style="padding: 30px 0 50px 0;width:60%;margin:0 auto;text-align: left">
    {{ post.content}}

    </div>
    </div>

    {% endif %}
    {% endif %}

    {% endfor %}
</div>
</section>




{% include footer.html %}


{% endif%}
<script src="/js/jquery-1.11.0.js"></script>


<script src="/js/dynamicLang.js" type="text/javascript"></script>
<script type="text/javascript">
  var lang = new Lang();
  lang.init({
    defaultLang: 'en',
    currentLang: 'en',
    cookie: {
      name: 'langCookie',
      expiry: 365,
      path: '/'
    },
    allowCookieOverride: true
  });
  $(function(){

    if((navigator.language || navigator.browserLanguage).indexOf("zh") > -1){
      // $("#docs").attr("href","http://docs.bitpie.com/zh_CN/latest/")
      window.lang.change("zh");

    }else{
      window.lang.change("en")
    }
  })
</script>
{% include tongji.html %}

</body>
</html>