<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <script src="/js/jquery-1.11.0.js"></script>
    <title tkey="title"></title>
    <style>
        body{
            font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
        }
        .diy{
            width:90%;
            margin:0 auto;
        }
        table{
            width: 100%;
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0;
            font-size: 12px;
        }
        .table-bordered th{
            background-color: #cdcdcd;
        }
        .table-bordered {
            border: 1px solid #333;
            border-collapse: separate;
            *border-collapse: collapse;
            border-left: 0;
            border-top:0;
            margin:30px auto 40px auto;
        }
        .table-bordered th,.table-bordered td{
            padding: 8px;
            line-height: 20px;
            text-align: center;
            vertical-align: middle;
            /*border:1px solid #333;*/
            border-top: 1px solid #333;
            border-left: 1px solid #333;
        }
        p{
            font-size: 15px;
        }
        .diy-info{
            color:#d9534f;
        }
    </style>
</head>
<body>
<div class="diy">
    <h3 tkey="title"></h3>
    <p tkey="diy-p1"></p>
    <p tkey="diy-p2"></p>
    <p tkey="diy-p3"></p>
    <p tkey="diy-p4"></p>
    <p tkey="diy-p5"></p>
    <p tkey="diy-p6"></p>
    <table class="table-bordered">
        <tr><th tkey="th1"></th><th tkey="th2"></th><th tkey="th3"></th></tr>
        <tr><td tkey="td1"></td><td tkey="td2"></td><td tkey="td3"></td></tr>
        <tr><td tkey="td4"></td><td tkey="td5"></td><td tkey="td3"></td></tr>
        <tr><td tkey="td6"></td><td tkey="td7"></td><td tkey="td3"></td></tr>
        <tr><td tkey="td8"></td><td tkey="td9"></td><td tkey="td3"></td></tr>
        <tr><td tkey="td11"></td><td tkey="td12"></td><td tkey="td10"></td></tr>
        <tr><td tkey="td13"></td><td tkey="td14"></td><td tkey="td10"></td></tr>
        <tr><td tkey="td15"></td><td tkey="td16"></td><td tkey="td10"></td></tr>
        <tr><td tkey="td18"></td><td tkey="td19"></td><td tkey="td17"></td></tr>
    </table>

    <h3 class="diy-info" tkey="diy-info"></h3>
    <p tkey="info-p1"></p>
    <p tkey="info-p2"></p>
    <p tkey="info-p3"></p>
    <p tkey="info-p4"></p>
</div>
<script type="text/javascript">
    $(function(){
        var jsdata = [
            {
                "cn":{
                    "title":"奖券抽奖规则",
                    "diy-p1":"1.抽奖活动时间： 2018年12月17日 12:00:00 至 2018年12月24日 24:00:00",
                    "diy-p2":"2.准备好你的 EOS 帐号，如果还未有 EOS 帐号，可根据教程创建。<a href='http://docs.bitpie.com/zh_CN/latest/eosaccount/index.html' target='_blank' style='color:#D9534F'>点击进入教程</a>。",
                    "diy-p3":"3.抽奖券发放规则：活动期间每日 19:00:00 ，系统会对比特派用户的 EBTC、EETH、EUSD 余额进行快照，届时参与者每持有 0.02 EBTC 或 0.8 EETH 或 80 USDT-EUSD 可获得一张抽奖券，奖券每日 20:00 发放，号码随机，每日 21：00 公布中奖名单。",
                    "diy-p4":"4.获得 EBTC、EETH、EUSD： 可通过首页-币币兑换 进行 BTC-EBTC、ETH-EETH、USDT-EUSD 的兑换，或通过首页 - 一键买卖 快速购买 EUSD。",
                    "diy-p5":"5.每个用户可获得 EBTC、EETH、EUSD 单币种奖券数上限为1000张，可获得奖券数总上限为3000张。<br/>*每个用户：对应比特派唯一 UID",
                    "diy-p6":"6.活动奖品：活动为期8天，每日将抽取1名中奖者，奖品详情见下图。现金大奖根据送出奖券的总数量变动，最高奖金可得30万。（中奖奖金将以 EUSD 形式发放，最终发放 EUSD 的数量以 2018年12月25日 12:00:00 比特派“一键买卖”买卖均价为基准计算，需使用比特派钱包接收。）",
                    "th1":"开奖时间",
                    "th2":"抽奖数据统计截止",
                    "th3":"奖品",
                    "td1":"12月17日 21:00",
                    "td2":"12月17日 19:00",
                    "td3":"比特护盾",
                    "td4":"12月18日 21:00",
                    "td5":"12月18日 19:00",
                    "td6":"12月19日 21:00",
                    "td7":"12月19日 19:00",
                    "td8":"12月20日 21:00",
                    "td9":"12月20日 19:00",
                    "td10":"iPhone XS Max",
                    "td11":"12月21日 21:00",
                    "td12":"12月21日 19:00",
                    "td13":"12月22日 21:00",
                    "td14":"12月22日 19:00",
                    "td15":"12月23日 21:00",
                    "td16":"12月23日 19:00",
                    "td17":"最高 30 万",
                    "td18":"12月24日 21:00",
                    "td19":"12月24日 19:00",
                    "diy-info":"公平性声明:",
                    "info-p1":"为确保公平，每日开奖号会取当日香港时间 20:00 之后产生的第一个 BTC、ETH、EOS 区块 Hash 值，依次首尾相连再做 SHA2-256。并使用最后所得的哈希结果对总奖券数取余，所得余数即为开奖号码。（若整除则开奖号码为最大奖券号）",
                    "info-p2":"每日快照完毕后，会由 EOS 账号 bitpie4candy 发币将奖券总数作为 memo 记录在 EOS 区款链中，来保证开奖结果的公正、公开。",
                    "info-p3":"中奖规则：当您持有的奖券号和当日开奖号吻合，则恭喜您获得当日的奖品",
                    "info-p4":"本活动最终解释权归 Bitpie 所有。"
                }
            },
            {
                "en":{
                    "title":"Lottery Draw Rules",
                    "diy-p1":"1.Lottery time: December 17<sup>th</sup>, 2018 12:00 to December 24, 2018 24:00. (UTC+8).",
                    "diy-p2":"2.Get your EOS account ready in Bitpie wallet. If you don't have an EOS account, you can create one according to the tutorial.<a href='http://docs.bitpie.com/en/latest/eosaccount/index.html' target='_blank' style='color:#D9534F'>click</a>",
                    "diy-p3":"3.Lottery ticket giving out: during the above period, every day at 7 p.m., the system will take snapshots of the EBTC, EETH, and EUSD balances in Bitpie users’ accounts. Participants will be given one lottery ticket by holding EVERY 0.02 EBTC or 0.8 EETH or 80 USDT-EUSD. The lottery tickets are given out randomly at 8 p.m. The winning list will be announced at 9 p.m.",
                    "diy-p4":"4.How to get EBTC, EETH and EUSD: You can swap BTC-EBTC, ETH-EETH, USDT-EUSD through Wallet – Coin swap.",
                    "diy-p5":"5.Each user can get up to 1000 EBTC, EETH and EUSD single-coin lottery tickets, the total number of tickets can be up to 3,000. <br/>*Each user corresponds to a unique UID",
                    "diy-p6":"6.Lottery Prizes: The event will last for 8 days and we will have only one winner per day. The prize lists are shown below. The final cash prize can be altered according to the total number of tickets issued; the highest is $45,000 USD. (The cash prize will be awarded in the form of EUSD. The final amount of EUSD will be calculated based on the “purchase” price of the Instant Trade on December 25, 2018 12:00 (UTC+8), and the winner will receive it through Bitpie wallet.)",
                    "th1":"Draw time",
                    "th2":"Lottery Pot Closing Time",
                    "th3":"Prizes",
                    "td1":"17<sup>th</sup> December 9 p.m.",
                    "td2":"17<sup>th</sup> December 7 p.m.",
                    "td3":"BITHD",
                    "td4":"18<sup>th</sup> December 9 p.m.",
                    "td5":"18<sup>th</sup> December 7 p.m.",
                    "td6":"19<sup>th</sup> December 9 p.m.",
                    "td7":"19<sup>th</sup> December 7 p.m.",
                    "td8":"20<sup>th</sup> December 9 p.m.",
                    "td9":"20<sup>th</sup> December 7 p.m.",
                    "td10":"iPhone XS Max",
                    "td11":"21<sup>th</sup> December 9 p.m.",
                    "td12":"21<sup>th</sup> December 7 p.m.",
                    "td13":"22<sup>st</sup> December 9 p.m.",
                    "td14":"22<sup>st</sup> December 7 p.m.",
                    "td15":"23<sup>nd</sup> December 9 p.m.",
                    "td16":"23<sup>nd</sup> December 7 p.m.",
                    "td17":"Highest $45.000",
                    "td18":"24<sup>rd</sup> December 9 p.m.",
                    "td19":"24<sup>rd</sup> December 7 p.m.",
                    "diy-info":"Disclaimer:",
                    "info-p1":"To guarantee fairness, the daily draw number will be determined by the first block hash value of BTC, ETH, EOS generated after 8.pm. Hong Kong time at that day. We will link these three hash values from beginning to the end and then calculate its SHA2-256, and eventually take its remainder as the lucky number. (If it is exactly divisible, the lottery number will be the biggest lottery number)",
                    "info-p2":"After the daily snapshot is completed, the EOS account “bitpie4candy” will make an on-chain transaction. The total number of tickets will be recorded as memo in the EOS Blockchain to demonstrate fairness and transparency.",
                    "info-p3":"Who to win: when your lottery number matches with the lucky draw number on that day, congratulations to you!",
                    "info-p4":"Bitpie reserves the right to interpret this activity."
                }

            }
        ];
        var langCode = "cn";
        var lang = (navigator.language || navigator.browserLanguage).toLowerCase();
        var translate = function (jsdata)
        {
            $("[tkey]").each (function (index)
            {
                var strTr = jsdata [$(this).attr ('tkey')];
                $(this).html (strTr);
            });
        }
        if(new String(lang).indexOf("zh") > -1){
            langCode = "cn";
            translate(jsdata[0].cn)
        }else{
            langCode = "en";
            translate(jsdata[1].en)
        }
    })
</script>
</body>
</html>